.FormContainer{
    width: 70%;
    margin: 5% auto;
    padding: 15px;
}

.FormContainer h1{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.FormFields{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    border: 2px solid #555;
    border-radius: 15px;
    padding: 10px;
}

.FormFields p{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: 80%;
    font-weight: 500;
    color: red;
}

.FormFields label{
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding: 10px 0 5px 0;
}

.FormFields input{
    margin: 0 auto;
    width: 70%;
}

.Buttons{
    width: 70%;
    margin: 5px auto;
    padding: 10px ;
}

.Buttons button{
    padding: 5px 10px;
    float:right;
    cursor: pointer;
    width: 30%;
}

.Buttons button:nth-child(2){
    margin-right: 7px;
    background-color: #27ae60;
    border: 2px solid #27ae60;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}

.Buttons button:nth-child(1){
    margin-right: 7px;
    background-color: #c0392b;
    border: 2px solid #c0392b;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}


.Buttons button:nth-child(2):hover{

    background-color: #fff;
    color: #27ae60;
    font-weight: 600;
}

.Buttons button:nth-child(1):hover{
    background-color: #fff;
   
    color: #c0392b;
    font-weight: 600;
}